/* Copy Animation */
.base-color {
  color: hsl(var(--main)) !important;
}

.copyInput {
  display: inline-block;
  line-height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.copied::after {
  position: absolute;
  top: 8px;
  right: 12%;
  width: 100px;
  display: block;
  content: "COPIED";
  font-size: 1em;
  padding: 5px 5px;
  color: #fff;
  background-color: #FF7000;
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopied 1.5s ease;
}

@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  50% {
    opacity: 0.7;
    transform: translateX(40%);
  }

  70% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
  }
}




.cookies-card {
  width: 520px;
  padding: 30px;
  color: #1E2337;
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 999999;
  transition: all .5s;
  background: #d1d1d1;
  border-radius: 5px;
}

.cookies-card.hide {
  bottom: -500px !important;
}

.radius--10px {
  border-radius: 10px;
}

.cookies-card__icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #6e6f70;
  color: #fff;
  font-size: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cookies-card__content {
  margin-bottom: 0;
}

.cookies-btn {
  color: #363636;
  text-decoration: none;
  padding: 10px 35px;
  margin: 3px 5px;
  display: inline-block;
  border-radius: 999px;
}

.cookies-btn:hover {
  color: #363636;
}


@media (max-width: 767px) {
  .cookies-card {
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 14px;
    padding: 15px;
  }
}


.hover-input-popup {
  position: relative;
}

.input-popup {
  display: none;
}

.hover-input-popup .input-popup {
  display: block;
  position: absolute;
  bottom: 95%;
  left: 50%;
  width: 280px;
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.input-popup::after {
  position: absolute;
  content: '';
  bottom: -19px;
  left: 50%;
  margin-left: -5px;
  border-width: 10px 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #1a1a1a transparent;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.input-popup p {
  padding-left: 20px;
  position: relative;
}

.input-popup p::before {
  position: absolute;
  content: '';
  font-family: 'Line Awesome Free';
  font-weight: 900;
  left: 0;
  top: 4px;
  line-height: 1;
  font-size: 18px;
}

.input-popup p.error {
  text-decoration: line-through;
}

.input-popup p.error::before {
  content: "\f057";
  color: #ea5455;
}

.input-popup p.success::before {
  content: "\f058";
  color: #28c76f;
}



.show-filter {
  display: none;
}

@media(max-width:767px) {
  .responsive-filter-card {
    display: none;
    transition: none;
  }

  .show-filter {
    display: block;
  }
}

.modal-header .close {
  background-color: #ea5455 !important;
  color: #fff;
}

.btn--dark,
.btn--dark:hover {
  background-color: #10163A !important;
  color: #fff;
}

.modal-footer .btn--primary {
  color: #fff;
}

.single-message.admin-message .message-content {
  border: 1px solid #fad8d8 !important;
  background-color: #fff1f1 !important;
}

/* new css */

.select2 .selection {
  display: block;
}

.select2 .dropdown-wrapper {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff !important;
  line-height: 55px !important;
}


.select2-container--default .select2-selection--single {
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  border-radius: 4px;
  height: 55px;
  background: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 55px;
}

.select2-dropdown {
  background-color: #041838;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: transparent;
  margin-bottom: 6px;
  color: #fff;
}


.select2-results__option--selectable {
  cursor: pointer;
  color: #fff;
}



.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: rgb(255 255 255 / 6%);
  color: white;
}

.select2-container--default .select2-results__option--selected{
  background-color: rgb(255 255 255 / 10%);
}

.coin-search-area .form-control {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: transparent;
  color: #fff;
  height: 55px;
}

.coin-search-area .btn--base {
  padding: 13px 35px;
}


.sell-card .select2-container--default .select2-selection--single {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  height: 50px;
}

.sell-card .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000 !important;
  line-height: 50px !important;
}

body:has(.sell-card) .select2-dropdown {
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

body:has(.sell-card) .select2-results__option--selectable {
  cursor: pointer;
  color: #000;
}

body:has(.sell-card) .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: rgb(0 0 0 / 10%);
  color: #000;
}

body:has(.sell-card) .select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #000;
}


.sell-card .input-group-text {
  border: 0;
}

.alert {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  justify-content: flex-start;
}

.alert--info {
  border: 1px solid rgb(0 147 255 / 30%);
  background-color: rgb(0 147 255 / 5%);
}

.alert--info .alert__icon {
  color: rgb(0 147 255);
}

.alert--primary {
  border: 1px solid rgb(70 52 255 / 30%);
  background-color: rgb(70 52 255 / 5%);
}

.alert--primary .alert__icon {
  color: rgb(70 52 255);
}

.alert--danger {
  border: 1px solid rgb(220 53 69 / 50%);
  background-color: rgb(220 53 69 / 5%);
}

.alert--danger .alert__icon {
  color: rgb(220 53 69);
}

.alert--warning {
  border: 1px solid rgba(220, 206, 53, 0.5);
  background-color: rgba(220, 206, 53, 0.05);
}

.alert--warning .alert__icon {
  color: rgba(220, 206, 53);
}

.select2 .dropdown-wrapper {
  display: none;
}
.select2-container:has(.select2-selection--single) {
  width: 100% !important;
}

.select2-container .select2-selection--single .select2-selection__rendered{
  text-align: left;
}